<%- include("partials/header.ejs") %>
   <!-- header section end -->
   <!-- banner section start -->
   <div class="banner_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1 class="banner_taital">Space For Your Ideas</h1>
               <p class="banner_text">Unlock your creativity by booking the meeting room at the Enabling Technology
                  Collaboratory. Our innovative space is designed for collaboration and brainstorming, allowing you to
                  connect with others and bring your ideas to life. </p>
               <div class="read_bt"><a href="#">Book Now</a></div>
            </div>
         </div>
      </div>
   </div>
   <!-- banner section end -->
   </div>
   <!-- header section end -->
   <!-- appointment section start -->
   <!-- First Form Section -->
<div class="appointment_section" id="firstForm">
   <div class="container">
     <div class="appointment_box">
       <div class="row">
         <div class="col-md-12">
           <h1 class="appointment_taital">Book <span style="color: #0cb7d6;">The Meeting Room</span></h1>
         </div>
       </div>
       <div class="appointment_section_2">
        <form action="/submit" method="post" id="appointmentForm">
           <div class="row">
             <div class="col-md-6">
               <div class="form-group">
                 <p class="doctorname_text">Number of Attendees</p>
                 <select class="email_text" name="attendees">
                   <option value="">Maximum Attendees</option>
                   <option value="02">02</option>
                   <option value="04">04</option>
                   <option value="06">06</option>
                   <option value="08">08</option>
                   <option value="10">10</option>
                   <option value="12">12</option>
                 </select>
               </div>
             </div>
             <div class="col-md-6">
               <p class="doctorname_text_date">Choose Date</p>
               <input id="datepicker" required />
               <input type="hidden" name="date" id="hiddenDate" hidden required>
             </div>
           </div>
           <div class="row">
             <div class="col-md-6">
               <p class="doctorname_text">Purpose of the Meeting</p>
               <input type="text" class="email_text" placeholder="Meeting Details" name="purpose">
             </div>
             <div class="col-md-6">
               <p class="doctorname_text" style="visibility: hidden;">Submit Button Hidden Label</p>
               <input class="read_bt_next_button" id="nextButton" type="button" value="next">
             </div>
           </div>
       </div>
     </div>
   </div>
 </div>
 
 <!-- Second Form Section (Initially Hidden) -->
 <div class="appointment_section" id="secondForm" style="display: none;">
   <div class="container">
     <div class="appointment_box">
       <div class="row">
         <div class="col-md-12">
           <div class="form-group">
             <h1 class="appointment_taital">Schedule <span style="color: #0cb7d6;">Your Meeting</span></h1>
           </div>
         </div>
         <div class="appointment_section_2">
           <div class="container">
             <div class="row">
               <div class="col-md-6">
                   <div class="form-group">
                     <p class="doctorname_text">Start Time</p>
                     <select class="email_text" name="start" required>
                       <option>Select Your Start Time</option>
                       <option>08:00 am</option>
                       <option>09:00 am</option>
                       <option>10:00 am</option>
                       <option>11:00 am</option>
                       <option>12:00 pm</option>
                       <option>01:00 pm</option>
                       <option>02:00 pm</option>
                       <option>03:00 pm</option>
                       <option>04:00 pm</option>
                       <option>05:00 pm</option>
                     </select>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="form-group">
                     <p class="doctorname_text">End Time</p>
                     <select class="email_text" name="end" required>
                       <option>Select Your End Time</option>
                       <option>09:00 am</option>
                       <option>10:00 am</option>
                       <option>11:00 am</option>
                       <option>12:00 pm</option>
                       <option>01:00 pm</option>
                       <option>02:00 pm</option>
                       <option>03:00 pm</option>
                       <option>04:00 pm</option>
                       <option>05:00 pm</option>
                       <option>06:00 pm</option>
                     </select>
                   </div>
               </div>
             </div>
             <div class="row">
               <div class="col-md-8">
                 <p class="doctorname_text" style="visibility: hidden;">Submit Button Hidden Label</p>
                 <h1 class="doctorname_text_chosen_date">Your selected meeting date is ...</h1>
               </div>
               <div class="col-md-2">
                 <p class="doctorname_text" style="visibility: hidden;">Submit Button Hidden Label</p>
                 <input class="read_bt_submit_button" id="backButton"  type="button" value="Back">
               </div>
               <div class="col-md-2">
                 <p class="doctorname_text" style="visibility: hidden;">Submit Button Hidden Label</p>
                 <input class="read_bt_submit_button" type="submit" value="Submit">
               </div>
             </div>
            </form>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
      <!-- appointment section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="about_taital">About ETC</h1>
                  <p class="about_text">Welcome to the Enabling Technology Collaboration Center at Temasek Polytechnic!
                     We are a vibrant hub dedicated to innovation, where creativity meets technology.</p>
                  <div class="about_bt"><a href="about.html">Read More</a></div>
               </div>
               <div class="col-md-6">
                  <div class="about_img"><img src="images/about-img.png"></div>
               </div>
            </div>
         </div>
         <div class="padding_bottom_index">
         </div>
      </div>
      <!-- about section end -->
      <%- include("partials/footer.ejs") %>